<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Moltran - Responsive Bootstrap 4 Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="assets/images/favicon_1.ico">

        <!-- Custom Files -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />

        <script src="assets/js/modernizr.min.js"></script>


    </head>
    <body>


        <div class="wrapper-page">
            <div class="card card-pages">
                <div class="card-header bg-img">
                    <div class="bg-overlay"></div>
                    <h3 class="text-center m-t-10 text-white"> AvaBuddies <strong>AdminPanel</strong> </h3>
                </div>


                <div class="card-body">
                <form class="form-horizontal m-t-20" action="index.html">




                    <div class="form-group text-center m-t-40">
                        <div class="col-12">
                            <a class="btn btn-primary btn-lg w-lg waves-effect waves-light" href="auth/signin/">Log In</a>
                        </div>
                    </div>

                </form>
                </div>

            </div>
        </div>


    	<script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>

	</body>
</html>
