<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">Dashboard</h4>
        <ol class="breadcrumb pull-right">
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>
