<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">Tags</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/Tags">Tags</a></li>
            <li class="active">{{tag.name}}</li>
        </ol>
    </div>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Show Tag</h3>
    </div>
    <div class="card-body">
      <div class="form">
        <form class="cmxform form-horizontal tasi-form" id="userForm" method="post" novalidate="novalidate">
          <div class="form-group row">
            <label for="name" class="control-label col-lg-2">Name</label>
            <div class="col-lg-10">
              <input class="form-control" id="name" name="name" value="{{tag.name}}" type="text" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="private" class="control-label col-lg-2">Private profile</label>
            <div class="col-lg-10">
              <input type="checkbox" id="private" name="isPrivate" data-plugin="switchery" data-color="#FF5815" value="true" {{#if tag.isPrivate}} checked {{/if}}/>

            </div>
          </div>
      </div>


      <div class="form-group">
        <div class="offset-lg-2 col-lg-10">
          <button class="btn btn-success waves-effect waves-light" type="submit">Save</button>
          <a href="/tags" class="btn btn-secondary waves-effect" type="button">Cancel</a>

          <button type="button" class="btn btn-pink waves-effect float-right" data-id="{{tag._id}}" id="satags-params">Delete</button>
        </div>
      </div>
      </form>
    </div> <!-- .form -->

  </div> <!-- card-body -->
</div> <!-- card -->
